@{
    ViewBag.Title = "Home Page";
}
@model EvaluatingWebsitePerformance.Models.CreateBaseRequestModel

@using (Html.BeginForm("Results", "Home", FormMethod.Post, new { @class = "input-url" }))
{
<div class="form-group">
    @Html.Label("Enter url", new { @class = "form-label", @for = "inputUrl" })
    @Html.TextBoxFor(m => m.BaseRequestUrl, new { @class = "form-control", @id = "inputUrl", @type = "url", @maxlength = 1000, @required = true })
</div>
    <div class="form-group">
        @Html.Label("Number of sitemap’s urls", new { @class = "form-label", @for = "inputUrlsCount" })
        @Html.TextBoxFor(m => m.UrlsCount, new { @class = "form-control", @id = "inputUrlsCount", @type = "number", @Value = 10, @min = "1", @max = "30", @required = true })
    </div>
    <div class="form-group">
        @Html.Label("Number of requests to each url", new { @class = "form-label", @for = "inputAttemptCount" })
        @Html.TextBoxFor(m => m.AttemptCount, new { @class = "form-control", @id = "inputAttemptCount", @type = "number", @Value = 2, @min = "2", @max = "10", @required = true })
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" id="submit-button" />
    </div>
}

<h5 id="message">@ViewData["status-message"]</h5>

@if (!User.Identity.IsAuthenticated)
{
    <div>
        &rsaquo; @Html.ActionLink("Login to save results and view history", "Login", "Account")
    </div>
}
else
{
    <div>
        &rsaquo; @Html.ActionLink("View history", "HistoryList", "Home")
    </div>
}